html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, p, span {
    font-family: 'Raleway', sans-serif;
    color: #3f3f51;
}

h1, h2, h3 {
    margin: 10px;
}

.tab {
    text-align: right;
}

.hero {
    text-align: center;
}

.hero-text {
    color: #29299c;
    font-size: 40px;
}

.description {
    margin: 0 10%;
}


.symbols {
    text-align: center;
    margin: 20px;
}

.symbols-key {
    display: flex;
    justify-content: center;
}

.symbols-item {
    width: 150px;
    height: 100px;
    padding: 5px;
}

.symbols-text {
    margin: 0;
}

.symbols-icon {
    max-height: 60px;
}

.secondary-title {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.card {
    border: 1px solid #3f3f51;
    width: 20%;
    text-align: center;
}

.dept-icon {
    height: 50px;
}

.metric-icon {
    height: 45px;
}

.dept-name {
    color: #3f3f51;
    text-align: center;
    margin: 0px;
    padding: 10px 20px;
    font-weight: bold;

}

.score-row {
    display: flex;
    height: 75px;
    padding: 7px;
    text-align: center;
}

.score {
    width: 25%;
}

.yellow .score-text {
    color: #3f3f51;
}

.score-title {
    font-size: 12px;
}

.score-text {
    font-size: 10px;
    color: white;
    margin: 0;
}

.green {
    background: #00A201;
}

.yellow {
    background: #FFE433;
}

.red {
    background: #D92727;
}

.metric-icon path,
.metric-icon g {
    fill: white;
}

.yellow .metric-icon path {
    fill: #3f3f51;
}

